* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Seu código css aqui */
body {
  background: #ebebeb;
}

section {
  width: 1120px;
  margin: 0 auto;
  padding: 40px;
}

.Título {
  display: flex;
  align-items: baseline;
  margin: 0 0 16px 0;
}

.Título h2 {
  font: 23px "Roboto", sans-serif;
  color: #666666;
  margin: 0 16px 0 0;
}

.Título a {
  font: 16px "Roboto", sans-serif;
  color: #3483fa;
}

.lista-produtos {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.lista-produtos a {
  color: #333333;
}

.produto {
  background: #ffffff;
  width: 250px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.produto img {
  width: 250px;
}

.produto .detalhes {
  padding: 16px;
  border-top: 1px solid #dddddd;
}

.produto .detalhes h3 {
  font: bold 24px "Roboto", sans-serif;
  columns: #333333;
  margin: 0 0 4px 0;
}

.produto .detalhes span {
  display: block;
  font: bold 14px "Roboto", sans-serif;
  color: #333333;
  margin: 0 0 16px 0;
}

.produto .detalhes p {
  display: none;
  font: 14px "Roboto", sans-serif;
  color: #666666;
}

.produto:hover .detalhes p {
  display: block;
}
